= component_controller do
  label.list-group-item class="#{'list-group-item-info' if @checked}"
    = @notification.message
    input.form-check-input.ml-3.float-right type="checkbox" value="" data-reflex="click->NotificationsManagerComponent#add_selected"
