---
http_interactions:
- request:
    method: post
    uri: http://judge0-api.roupi.xyz/submissions/?base64_encoded=false&wait=false
    body:
      encoding: UTF-8
      string: expected_output=X+%3D+5%0A&language_id=71&source_code=n1+%3D+int%28input%28%29%29%0An2+%3D+int%28input%28%29%29%0Aprint%28%27X+%3D%27%2C+n1+%2B+n2%29&stdin=3%0A2%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15e4cd1b74f223bd94ee17a058e51d5d"
    body:
      encoding: UTF-8
      string: '{"token":"d510a8bc-54d4-4686-8840-84e45546a147"}'
  recorded_at: Sun, 20 Sep 2020 17:40:32 GMT
[...]
- request:
    method: get
    uri: http://judge0-api.roupi.xyz/submissions/d510a8bc-54d4-4686-8840-84e45546a147
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fefc245793f68dedc1a16234c854fff6"
    body:
      encoding: UTF-8
      string: '{"stdout":"X = 5\n","time":"0.017","memory":3316,"stderr":null,"token":"d510a8bc-54d4-4686-8840-84e45546a147","compile_output":null,"message":null,"status":{"id":3,"description":"Accepted"}}'
  recorded_at: Sun, 20 Sep 2020 17:40:33 GMT
[...]
- request:
    method: get
    uri: http://judge0-api.roupi.xyz/submissions/52c97082-08dc-4e27-8f02-7bef4ed49aff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f649190247d5184a93e15146c3e64d4"
    body:
      encoding: UTF-8
      string: '{"stdout":"X = 5\n","time":"0.017","memory":3284,"stderr":null,"token":"52c97082-08dc-4e27-8f02-7bef4ed49aff","compile_output":null,"message":null,"status":{"id":3,"description":"Accepted"}}'
  recorded_at: Sun, 20 Sep 2020 17:40:33 GMT
recorded_with: VCR 6.0.0
