---
http_interactions:
- request:
    method: post
    uri: http://roupi.xyz:3000/submissions/?base64_encoded=false&wait=false
    body:
      encoding: UTF-8
      string: cpu_time_limit=1.5&expected_output=X+%3D+5%0A&language_id=71&memory_limit=51200.0&source_code=n1+%3D+int%28input%28%29%29%0An2+%3D+int%28input%28%29%29%0Aprint%28%27x%3D%27%2C+n1+%2B+n2%29&stdin=3%0A2%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17f997e3d656d1bd26f8dde4dfaa20c3"
    body:
      encoding: UTF-8
      string: '{"token":"929599ea-05ed-464f-9176-9fac168baf81"}'
  recorded_at: Wed, 07 Oct 2020 02:28:25 GMT
- request:
    method: get
    uri: http://roupi.xyz:3000/submissions/929599ea-05ed-464f-9176-9fac168baf81
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1f1736fd710fb804084ee73f782e2d0"
    body:
      encoding: UTF-8
      string: '{"stdout":null,"time":null,"memory":null,"stderr":null,"token":"929599ea-05ed-464f-9176-9fac168baf81","compile_output":null,"message":null,"status":{"id":1,"description":"In
        Queue"}}'
  recorded_at: Wed, 07 Oct 2020 02:28:25 GMT
[...]
- request:
    method: get
    uri: http://roupi.xyz:3000/submissions/9610edb3-f279-4747-9ef1-58d16f4c7bb1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81bfe4932943d599cb989701aff2b1f2"
    body:
      encoding: UTF-8
      string: '{"stdout":null,"time":null,"memory":null,"stderr":null,"token":"9610edb3-f279-4747-9ef1-58d16f4c7bb1","compile_output":null,"message":null,"status":{"id":2,"description":"Processing"}}'
  recorded_at: Wed, 07 Oct 2020 02:28:27 GMT
recorded_with: VCR 6.0.0
